{% extends "layouts/base.html" %}
{% block title %} Products {% endblock %}
{% block auth_link %}
  <li class="nav-item">
    <button id="user_login" class="btn btn-primary ">Login</button>
  </li>

  <li class="nav-item">
    <button id="user_logout" class="btn btn-danger">Logout</button>
  </li>
{% endblock %}

{% block product %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for product in products %}
    <div class="col">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{product.name}}</text></svg>

      <div class="card-body">
        <p class="card-text">{{product.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-primary buy_btn">Buy</button>
            <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
          </div>
          <span><small class="text-muted price_holder">{{product.price}} </small>eth</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock product %}

{% block scripts %}
<script src="/static/assets/js/product.js/"></script>
{% endblock scripts %}