{% extends "layouts/base.html" %}
{% block title %} Products {% endblock %}
{% block auth_link %}
  <li class="nav-item">
    <button id="user_login" class="btn btn-primary ">Login</button>
  </li>

  <li class="nav-item">
    <button id="user_logout" class="btn btn-danger">Logout</button>
  </li>
{% endblock %}

{% block product %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for product in products %}
    <div class="col">
    <div class="card shadow-sm">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{product.name}}</text></svg>

      <div class="card-body">
        <p class="card-text">{{product.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-primary buy_btn">Buy</button>
            <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
          </div>
          <span><small class="text-muted price_holder">{{product.price}} </small>eth</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock product %}

{% block scripts %}
<script>
  $(document).ready(function() {
    let serverUrl = "https://f7l1bzjdgg6i.usemoralis.com:2053/server";
    let appId = "T1MEtQfnMAvGUGOEnlU4KbbCzOxFWTSFnP3M7JSp";
    Moralis.start({ serverUrl, appId });
    let user = Moralis.User.current();
    login_placeholder = $("#user_login");
    logout_placeholder = $("#user_logout");
    address_placeholder = $("#address");

    if(!user){
        logout_placeholder.hide();
        login_placeholder.show();
        address_placeholder.hide();
    }else{
        const auth_user = `<li id="auth_el" class="nav-item ms-auto link-right">Eth address: ${user.get("ethAddress")} <span id="address"></span></li>`
        $("#my_nav").append(auth_user);
        logout_placeholder.show();
        login_placeholder.hide();
    }
    $('.buy_btn').click(async function(){
        var grand_parent = $(this).parent().parent();
        var price = parseFloat(grand_parent.find('.price_holder').text());

        var options = {
            type: "erc20",
            amount: Moralis.Units.Token(price, "18"),
            receiver: user.get("ethAddress"),
            contractAddress: "0x6b175474e89094c44da98b954eedeac495271d0f"
        }
        Moralis.authenticate({signingMessage:"Authenticating"}).then((res) =>{
            Moralis.transfer(options).then(res => {
                alert("Transaction Successful. Thanks for your purchase!");
            }).catch(err => {
                alert("Cannot Complete Transaction");
            })
        }).catch(err => {
            alert("Cannot Authenticate");
        });
    });

    $('#user_login').click( async function(){
        try{
            user = await Moralis.authenticate({signingMessage:"Authenticating"})
              const auth_user = `<li id="auth_el" class="nav-item ms-auto link-right">Eth address: ${user.get("ethAddress")} <span id="address"></span></li>`
              logout_placeholder.show();
              login_placeholder.hide();
              $("#my_nav").append(auth_user);
          }catch{
            alert("Cannot Authenticate")
          }
    });

    $('#user_logout').click(async function(){
        await Moralis.User.logOut({signingMessage:"Authenticating"});
        console.log("logging out");
        $("#auth_el").remove();
        logout_placeholder.hide();
        login_placeholder.show();

    });

});
</script>
{% endblock scripts %}